.img {
  background-image: url("../../../images/banniere-heros.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerhome {
  height: 50%;
  width: 60%;
  background-color: var(--gray-background-color);
  opacity: 0.8;
  box-shadow: 5px 5px 3px var(--gray-background-color);
}

.title {
  text-align: center;
}

.presentation {
  text-align: center;
}
