.header {
  top: 0;
  background-color: var(--red-background-color);
  width: 100%;
  height: 3.5rem;
  display: flex;
  position: fixed;
}

.home {
  width: 15%;
}

.logoHome {
  width: 40px;
  height: 40px;
  margin: 0.5rem 0.5rem;
}

.divTitle {
  width: 70%;
  display: flex;
  justify-content: center;
  padding-top: 0.3rem;
}

.title {
  color: var(--white-text-color);
  text-align: center;
  font-size: 2.2rem;
  font-family: Avengeance Heroic Avenger Bold Italic;
}

.cart {
  width: 15%;
}

.logoCart {
  width: 40px;
  height: 40px;
  float: right;
  margin: 0.5rem 0.5rem;
}

.link {
  outline: none;
  text-decoration: none !important;
}
